In [2]:
import pandas as pd
data={
    "name":["Hemant","Mayank","Raju","Abhinav","Mohit","Snaju"],
    "last_name":["Joshi","Dobhal","Srivastav","Kumar","Samson","Joshi"],
    "marks":[12,13,14,1,51,16],
    "age":[12,13,14,15,16,17],
    "subject":["Hindi","English","Maths","Science","SST","EVS"]
}
df=pd.DataFrame(data,index=["row_1","row_2","row_3","row_4","row_5","row_6"])
display(df)

          name  last_name  marks  age  subject
row_1   Hemant      Joshi     12   12    Hindi
row_2   Mayank     Dobhal     13   13  English
row_3     Raju  Srivastav     14   14    Maths
row_4  Abhinav      Kumar      1   15  Science
row_5    Mohit     Samson     51   16      SST
row_6    Snaju      Joshi     16   17      EVS

In [5]:
df.marks.describe()  # describe function will gie the summary of the attrbitues here we got the summary of marks column

count     6.000000
mean     17.833333
std      17.081179
min       1.000000
25%      12.250000
50%      13.500000
75%      15.500000
max      51.000000
Name: marks, dtype: float64

In [6]:
df.name.describe()   # here we got the summary of name table

count          6
unique         6
top       Hemant
freq           1
Name: name, dtype: object

In [7]:
df.age.describe()

count     6.000000
mean     14.500000
std       1.870829
min      12.000000
25%      13.250000
50%      14.500000
75%      15.750000
max      17.000000
Name: age, dtype: float64

In [11]:
df.age.mean()  # this will give the mean of the age table

np.float64(14.5)

In [12]:
df.marks.mean()  # this will give the mean of the marks table

np.float64(17.833333333333332)

In [13]:
df.marks.unique() # it will return the list of unique values

array([12, 13, 14,  1, 51, 16])

In [14]:
df.marks.value_counts()  #this will return unique value with how often it occur in the dataset

marks
12    1
13    1
14    1
1     1
51    1
16    1
Name: count, dtype: int64

In [15]:
# Map- map() works only on a single column (Series).

#It takes each value in the column and applies a function or replacement to it.

In [19]:
mean=df.marks.mean()
display(mean)

np.float64(17.833333333333332)

In [22]:
df["Mean_of_marks"]=df["marks"].map(lambda x:x-mean)
display(df)

          name  last_name  marks  age  subject  Mean_of_marks
row_1   Hemant      Joshi     12   12    Hindi      -5.833333
row_2   Mayank     Dobhal     13   13  English      -4.833333
row_3     Raju  Srivastav     14   14    Maths      -3.833333
row_4  Abhinav      Kumar      1   15  Science     -16.833333
row_5    Mohit     Samson     51   16      SST      33.166667
row_6    Snaju      Joshi     16   17      EVS      -1.833333

In [23]:
#map works on one value at once while apply workso n multiple values at once
import pandas as pd

df = pd.DataFrame({
    "name": ["Hemant", "Raju", "Mohit"],
    "marks": [50, 80, 90],
    "age": [20, 22, 23]
})

print(df)

     name  marks  age
0  Hemant     50   20
1    Raju     80   22
2   Mohit     90   23

In [26]:
df["new_marks"]=df["marks"].map(lambda x:x+5)
print(df)  # map takes one value at a time and return one value and dont consider other column

     name  marks  age  new_marks
0  Hemant     50   20         55
1    Raju     80   22         85
2   Mohit     90   23         95

In [28]:
df["total_score"]=df.apply(lambda row: row["marks"]+row["age"],axis=1)   # the reason for using row instead of df is that we are sending row to a function not entire dataframe
print(df)  # we are writing axis=1 because we are applying function row wise not column wise

     name  marks  age  new_marks  total_score
0  Hemant     50   20         55           70
1    Raju     80   22         85          102
2   Mohit     90   23         95          113

In [29]:
#inplace=True means change the original dataframe which is risky
#inplace=False means make a copy it is better because in case we did mistake we can undo bydefault inlace is always set to false